# Q1

In [1]:
import numpy as np
import pandas as pd

# List of columns
cols = ["math", "physics", "computer", "cpu", "memory", "disk", "cache"]

# Define the term/document table
table = np.array([[2, 1, 0, 0, 4, 5, 8],
                  [0, 0, 0, 5, 5, 0, 0],
                  [2, 2, 2, 2, 4, 6, 2],
                  [0, 3, 0, 3, 4, 0, 0],
                  [3, 12, 0, 3, 6, 6, 0]])

# Calculate the total number of words in each document
totals = np.sum(table, axis=1)

# Divide each element in the table by its corresponding total
normalized_table = table / totals[:, np.newaxis]
normalized_table_df = pd.DataFrame(normalized_table, columns=cols)
# Print the normalized table
normalized_table_df

   math  physics  computer  cpu  memory  disk  cache
0   0.1     0.05       0.0  0.0     0.2  0.25    0.4
1   0.0     0.00       0.0  0.5     0.5  0.00    0.0
2   0.1     0.10       0.1  0.1     0.2  0.30    0.1
3   0.0     0.30       0.0  0.3     0.4  0.00    0.0
4   0.1     0.40       0.0  0.1     0.2  0.20    0.0

# Q2

In [19]:
# List of columns
cols = ["math", "physics", "computer", "cpu", "memory", "disk", "cache"]

# Define the term/document table
table = np.array([[2, 1, 0, 0, 4, 5, 8],
                  [0, 0, 0, 5, 5, 0, 0],
                  [2, 2, 2, 2, 4, 6, 2],
                  [0, 3, 0, 3, 4, 0, 0],
                  [3, 12, 0, 3, 6, 6, 0]])


total_num_docs = table.shape[0]
# Calculate the inverse document frequency for each term 
if_term = np.count_nonzero(table, axis=0)

# Calculate the idf for each term
idf_term = np.log2(total_num_docs / if_term)


# for i, ift in enumerate(if_term):
#     print(f"number of documents containing the term '{cols[i]}': {ift} | IDF = {idf_term[i]}") 
    
terms_df = pd.DataFrame(table, columns=cols)

term_metrics_dict = {'term': cols, 
                     'if': if_term, 
                     'idf': idf_term}
term_metrics_df = pd.DataFrame(term_metrics_dict)
# Calculate and display the weighted term frequencies
weighted_terms_df = terms_df * (idf_term + 1)

In [20]:
term_metrics_df

       term  if       idf
0      math   3  0.736966
1   physics   4  0.321928
2  computer   1  2.321928
3       cpu   4  0.321928
4    memory   5  0.000000
5      disk   3  0.736966
6     cache   2  1.321928

In [21]:
weighted_terms_df

       math    physics  computer       cpu  memory       disk      cache
0  3.473931   1.321928  0.000000  0.000000     4.0   8.684828  18.575425
1  0.000000   0.000000  0.000000  6.609640     5.0   0.000000   0.000000
2  3.473931   2.643856  6.643856  2.643856     4.0  10.421794   4.643856
3  0.000000   3.965784  0.000000  3.965784     4.0   0.000000   0.000000
4  5.210897  15.863137  0.000000  3.965784     6.0  10.421794   0.000000

# Q3